---
layout: default
title: "Albums"
permalink: /albums
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="/"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <link rel="icon" href="assets/cam.png" type="image/png">
        <h1 id="navigator"><a href="albums.html">Albums</a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="album-main">
        <div id="album-title">
            <h1>Albums</h1>
        </div>

        <div class="album-entry">
            <div class="album-wrapper">
                <div class="album-preview">
                    <img src="albums/fulls/tam-cam/1A.jpg">
                </div>
                <div class="album-description">
                    <h2><a href="tam-cam.html">The Story of Tam and Cam</a></h2>
                    <h3>A Photo Essay, 2023</h3>
                </div>
            </div>
        </div>

        <div class="album-entry">
            <div class="album-wrapper">
                <div class="album-preview">
                    <img src="albums/fulls/cnn/2B.jpeg">
                </div>
                <div class="album-description">
                    <h2><a href="cnn.html">CNN Hội Thao</a></h2>
                    <h3>Selected photos from Amber House</h3>
                </div>
            </div>
        </div>

        <div class="album-entry">
            <div class="album-wrapper">
                <div class="album-preview">
                    <img src="albums/fulls/poetry-stories/1A.jpg">
                </div>
                <div class="album-description">
                    <h2><a href="poetry-stories.html">Poems and Short Stories</a></h2>
                    <h3>A Collection of Personal Musings</h3>
                </div>
            </div>
        </div>

        <div class="album-entry">
            <div class="album-wrapper">
                <div class="album-preview">
                    <img src="albums/fulls/portal/1A.jpg">
                </div>
                <div class="album-description">
                    <h2><a href="portal.html">The Portal</a></h2>
                    <h3>Miscellaneous Drawings and Designs</h3>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>{{ site.footer.name }}</h2>
                    <p>{{ site.footer.bio }}</p>
                    <p>{{ site.footer.bio2 }}</p>
                    <p>{{ site.footer.bio3 }}</p>
                    <h5>{{ site.footer.reminder }}</h5>
                    <p>{{ site.footer.github }}</p>
                </section>
                <section>
                    <h2>Follow me on ...</h2>
                    <ul class="icons">
                        {% if site.social_urls.github %}
                            <li>
                                <a href="{{ site.social_urls.github }}" class="icon fa-github">
                                    <span class="label">GitHub</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.twitter %}
                            <li>
                                <a href="{{ site.social_urls.twitter }}" class="icon fa-twitter">
                                    <span class="label">Twitter</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.instagram %}
                            <li>
                                <a href="{{ site.social_urls.instagram }}" class="icon fa-instagram">
                                    <span class="label">Instagram</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.linkedin %}
                            <li>
                                <a href="{{ site.social_urls.linkedin }}" class="icon fa-linkedin">
                                    <span class="label">LinkedIn</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </section>
                <p class="copyright">
                    &copy; {{ site.author }}
                </p>
            </div>
        </div>
    </footer>    
</div>